<?xml version="1.0"?>
<launch>
  <node name="trex_gps"
        pkg="nodelet" type="nodelet"
        args="standalone novatel_gps_driver/novatel_gps_nodelet" >
    <rosparam>
      verbose: true
      connection_type: serial
      device: /dev/ttyUSB2
      publish_novatel_positions: true
      frame_id: world_frame
      use_binary_messages: true
      imu_rate: 20
      imu_frame_id: base_link
      publish_imu_messages: true
      publish_novatel_velocity: true
    </rosparam>
  </node>
</launch>
